@import url("https://fonts.googleapis.com/css2?family=Alata&family=Dongle:wght@300;400;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&family=Varela+Round&display=swap");

/* Discount Styles */
.discount__wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 12px;
  background: #0780ff40 url(../images/discount-doctor.png) no-repeat bottom
    right / 100px;
}

.discount__images {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.discount__img1 {
  flex: 2;
}

.discount__img2 {
  flex: 3;
}

.discount__images img {
  object-fit: cover;
  border-radius: 12px;
}

.discount__text {
  font-size: 1.4rem;
  font-weight: 900;
  color: #07689f;
  margin-bottom: 0.5rem;
}

.discount__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: #07689f;
  font-weight: 700;
  margin-bottom: 1rem;
}

.discount__price {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.discount__oldPrice {
  color: #07689f;
  text-decoration: line-through;
}

.discount__newPrice {
  color: #07689f;
}

.discount__stars {
  width: max-content;
  height: 15px;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .discount__wrapper {
    flex-direction: row;
    gap: 4rem;
    padding: 2rem;
    align-items: center;
    background-size: 150px;
    margin: 0 auto;
  }
  .discount__images {
    flex: 5;
    margin-bottom: 0;
    gap: 2rem;
  }
  .discount__img1,
  .discount__img2,
  .discount__img3 {
    flex: 1;
    height: 350px;
  }
  .discount__info {
    flex: 3;
  }
  .discount__text {
    font-size: 2.4rem;
    color: #07689f;
  }
  .discount__title {
    font-family: "Josefin Sans", sans-serif;
    color: #07689f;
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
  }
  .discount__price {
    font-size: 2.4rem;
  }
  .discount__stars {
    height: 20px;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .discount__wrapper {
    gap: 2rem;
  }
  .discount__img3 {
    display: none;
  }
}
/* End Discount Styles */
