@import url("https://fonts.googleapis.com/css2?family=Alata&family=Dongle:wght@300;400;700&family=Exo+2:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&family=Varela&family=Varela+Round&display=swap");

/* Testimonial Section */
.testimonial__wrapper {
  max-width: 400px;
  margin: 0 auto;
}
.testimonial__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: #516beb;
  margin-bottom: 3rem;
  text-align: center;
}

/* .testimonial__title:hover {
  transform: skewY(1deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
} */

.testimonial__items__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.testimonial__item {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: #0780ff40;
  border-radius: 12px;
}
.testimonial__item__info {
  flex: 4;
}
.testimonial__item__img {
  flex: 2;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.testimonial__item__img img {
  object-fit: cover;
}
.testimonial__item__name {
  font-size: 1.6rem;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  color: #293462;
  margin-bottom: 1rem;
}

.testimonial__item__text {
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .testimonial__wrapper {
    max-width: 900px;
  }
  .testimonial__title {
    font-family: "Josefin Sans", sans-serif;
    color: #516beb;
    font-size: 4rem;
    margin-bottom: 5rem;
  }
  .testimonial__items__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .testimonial__item {
    padding: 2rem;
  }
  .testimonial__item__name {
    color: #293462;
    font-size: 2.2rem;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .testimonial__item__text {
    font-family: "Varela Round", sans-serif;
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
  .testimonial__wrapper {
    text-align: left;
  }
}
@media only screen and (max-width: 375px) {
  .testimonial__item__name {
    color: #293462;
    font-size: 2rem;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  .testimonial__item__text {
    font-family: "Varela Round", sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .testimonial__item {
    flex-direction: column;
  }

  .testimonial__item__img,
  .testimonial__item__info {
    flex: auto;
  }
}
/* End Testimonial Section */

.testimonial-button {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin-top: 1rem;
  color: #eef2ff;
  background: #548cff;
}

@media only screen and (min-width: 700px) {
  .testimonial-button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
}
